#geral {
    background-image: url(../img/background.jpg);
    padding-bottom: 100px;
}

#menu_top {
    border: solid 2px rgba(204, 204, 204, 0.397);
    background: rgba(211, 209, 209, 0.39);
    padding-left: 400px;
    padding-right: 50px;
}

#menu li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu li a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu li a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu li a:active{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu_top ul {
    margin: 1px;
    text-align: right;
}

#menu li {
    display: inline;
    padding: 5px;
}

#form {
    width: 250px;
    background: rgba(204, 204, 204, 0.288);
}

#login {
    margin:200px auto;
    width: 250px;
    border:solid 2px rgba(204, 204, 204, 0.658);
}

#geral_game {
    background-image: url(../img/battle.jpg);
    padding-bottom: 100px;
}

#panel_top {
    background-color: rgba(204, 204, 204, 0.473);
    height: 130px;
    text-align: right;
    padding-right: 50px;
    margin-left: 800px;
}

#panel_battle {
    background-color: rgba(204, 204, 204, 0.473);
    height: 200px; 
}
